<div class="image-details">
  <div class="image-detail">
    <strong>Title:</strong>
    <p><%= @image.title %></p>
  </div>

  <div class="image-detail">
    <strong>Text:</strong>
    <p><%= @image.text.html_safe %></p>
  </div>

  <div class="image-detail">
    <strong>Image:</strong>
    <p><%= image_tag url_for(@image.image) if @image.image.attached? %></p>
  </div>

  <div class="image-actions">
    <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-edit" %>
    <%= link_to 'Back', images_path, class: "btn btn-back" %>
  </div>
</div>
